@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    font-family: 'Montserrat', sans-serif!important;
}
h1,h2{
    font-weight: 700;
}
h3,h4{
    font-weight: 600;
}
h5,h6{
    font-weight: 500;
}
body{
    background-color: #DFD9D9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e6e1e1' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23ece9e9' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23f3f1f1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23f9f8f8' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FFFFFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.uk-navbar-dark{
    background-color: rgba(244, 70, 70, 0.9)!important;
}
.uk-light{
    color: white!important;
}
.uk-secondary{
    background-color: rgb(77, 77, 77);

    color: white;
}
.uk-button{
    border-radius: 20px;
}
.uk-button-danger{
    background-color: rgba(244, 70, 70, 0.9)!important;
}
.footer{
    background-color: #CAC5C5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23d1cdcd' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d8d5d5' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23dfdddd' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23e6e5e5' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23ECECEC' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.uk-bg-dark{
    background-color: grey;
    color: white;
}
.foot{
    padding: 5px
}
.uk-overlay-primary{
    background-color: rgba(244, 70, 70, 0.9);
}
.uk-navbar-not-transparent-danger{
    background-color: rgba(244, 70, 70, 1)!important;
}
.theme-compatible{
    color: rgba(244, 70, 70, 0.9);
}
.uk-textarea,.uk-input,.uk-select{
    border-radius: 15px;
}
.uk-theme{
    background-color: rgba(244, 70, 70, 0.9)!important;
}
.uk-card-default-trans{
    background-color: rgba(255, 255, 255, 0.8)!important;
}
